
<div class="col-md-12">
  <h1 class="text-center">Список задачь</h1>
<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Название задачи</th>
    <th scope="col">Категория</th>
    <th scope="col">Дата начала</th>
    <th scope="col">Дата окончания</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>task1</td>
    <td>category1</td>
    <td>22:15 05.06.2020</td>
    <td>22:15 05.07.2020</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>task2</td>
    <td>category2</td>
    <td>22:15 05.06.2020</td>
    <td>22:15 05.07.2020</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>task3</td>
    <td>category3</td>
    <td>22:15 05.06.2020</td>
    <td>22:15 05.07.2020</td>
  </tr>
  </tbody>
</table>
</div>
