<div class="col-md-12">

  <h1 class="text-center">Список задачь</h1>
  <label>Показывать завершённые задачи
    <input type="checkbox"  checked (change)="filterTasks($event)"/>
  </label>
  <div class="text-right">

    <button type="button"
            class="btn btn-success" (click)="addTask()"> Добавить задачу
    </button>
  </div>
  <hr>
  <app-statistic [taskAll]="getTaskListsSize()" [taskPlanned]="getTasksAmountByStatus('Запланирована')"
                 [taskOverdue]="getTasksAmountByStatus('Просрочена')"
                 [taskFinished]="getTasksAmountByStatus('Завершена')"></app-statistic>

  <table class="table" *ngIf="taskModels != null && taskModels.length > 0">
    <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название задачи</th>
      <th scope="col">Категория</th>
      <th scope="col">Дата начала</th>
      <th scope="col">Дата окончания</th>
      <th scope="col">Статус</th>
      <th scope="col">Завершить задачу</th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let taskModel of taskModels">
      <th scope="row">{{taskModel.id}}</th>
      <td>{{taskModel.name}}</td>
      <td>{{taskModel.category}}</td>
      <td>{{taskModel.dateStart}}</td>
      <td>{{taskModel.dateEnd}}</td>
      <td>{{taskModel.status?'Завершена': 'Открыта'}}</td>
      <td >

        <label>
          <input type="checkbox"  [checked]="taskModel.status" (change)="setStatus(taskModel)"/>
        </label>
      </td>
      <td><button class="btn btn-danger" (click)="deleteTask(taskModel)">Удалить задачу</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
