<div class="col-md-12" >

  <h1 class="text-center">Список задачь</h1>
  <label>Показывать завершённые задачи
    <input type="checkbox" (change)="filterTasks($event)"/>
  </label>
  <app-task-add *ngIf="modifyTask == undefined" (addTaskEmitter)="addTaskFromList($event)"></app-task-add>
  <app-edit-task  *ngIf="modifyTask !=  undefined" [task]="returnEditTask()" (canceledEmitter)="canceledEdit()" (submitErrorMessage)="initMessage($event)" (editEmitter)="editTaskFromList($event)"></app-edit-task>
  <app-statistic [taskAll]="getTaskListsSize()" [taskPlanned]="getTasksAmountByStatus('Запланирована')"
                 [taskOverdue]="getTasksAmountByStatus('Просрочена')"
                 [taskFinished]="getTasksAmountByStatus('Завершена')"></app-statistic>
  <div *ngIf="errorMessage!=null && errorMessage!=undefined" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Внимание ! ошибка!</strong> {{errorMessage}}
    <button type="button" (click)="clearMessage()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <table class="table" *ngIf="taskModels != null && taskModels.length > 0">
    <thead class="table-dark">
    <tr >
      <th scope="col">#</th>
      <th scope="col">Название задачи</th>
      <th scope="col">Категория</th>
      <th scope="col">Дата начала</th>
      <th scope="col">Дата окончания</th>
      <th scope="col">Статус</th>
      <th scope="col">Завершить задачу</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
<ng-container *ngFor="let taskModel of taskModels">
    <tr *ngIf="isViews(taskModel)" >
      <th scope="row">{{taskModel.id}}</th>
      <td>{{taskModel.name|myTitleCase}}</td>
      <td>{{taskModel.category}}</td>
      <td>{{taskModel.dateStart}}</td>
      <td>{{taskModel.dateEnd}}</td>
      <td appLod
        [ngStyle]="{'background-color': taskModel.status == 'Завершена'? '#c5efb0' : taskModel.status == 'Просрочена'? '#e48585':'#5995d2'}">{{taskModel.status}}</td>
      <td>

        <label>
          <input type="checkbox" [checked]="taskModel.status == 'Завершена'" (change)="setStatus(taskModel, $event)"/>
        </label>
      </td>
      <td>
        <button appLod class="btn btn-danger" (click)="deleteTask(taskModel)">Удалить задачу</button>
        <button appLod class="btn btn-success" (click)="editTask(taskModel)">Изменить задачу</button>
      </td>
    </tr>
</ng-container>
    </tbody>
  </table>
</div>
