<div class="card shadow rounded">
  <div class="card-body">
    <div class="row">
    <div class="col-3" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">Всего задачь: {{taskAll}}</div>
    <div class="col-3" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">Запланированно: {{taskPlanned}}</div>
    <div class="col-3" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">Просроченно: {{taskOverdue}}</div>
    <div class="col-3" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">Выполненно: {{taskFinished}}</div>
    </div>
  </div>
</div>
